doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') index
    //a(href='/users') users |
    //a(href='/chat') chat

    <br><br>
    block content
